*, :after, :before {
        box-sizing: border-box
}

html {
        font-family: 'Rokkitt', serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
}

body {
        background-color: #fff;
        color: #49647e;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: normal;
        text-align: left;
}

a {
        text-decoration: none;
        color: #62D9FF;
        background-color: transparent;
}

a:hover {
        color: #a8e7fb
        text-decoration: underline;
}

#centred_content {
        width: 640px;
        margin: 0 auto;
        padding: 0 20px;
        border: 0;
}

#heading {
        width: 100%;
        text-align: center;
        margin-top: 4em;
}

@media print, screen and (max-width: 640px) {
        body {
                word-wrap: break-word;
        }
        
        #centred_content {
                width: auto;
                margin: 0;
        }
}
        
@media print {
        body {
                padding: 0.4in;
                font-size: 12pt;
        }
}