*, :after, :before {
        box-sizing: border-box
}

html {
        font-family: 'Rokkitt', serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
}

body {
        background-color: #fcfdff;
        color: #404448;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.4;
        text-align: left;
}

h1, h2 {
        color: #000;
        line-height: 1;
        margin: 0;
}

h1 {
        font-size: 3rem;
}

h2 {
        font-size: 2rem;
}

a {
        text-decoration: none;
        color: #000;
}

a:hover {
        color: #096784
}
     
p {
        margin: 1em 0;
}

.flex {
        width: 640px;
        margin: 0 auto;
        padding: 20px;
}

#title {
        float: left;
}

#menu {
        float: right;       
}

#menu a {
        background-color: #62D9FF;
        padding: 0.45em 0.9em;
        border-radius: 10em;
}

#intro {
        margin: 4em 0;
}

.heading {
        background-color: #62D9FF;
        padding: 1em;
        width: 100%;
        border-radius: 0.5em;
        font-size: 1.3em;
        display: block;
}
 
@media print, screen and (max-width: 640px) {
        body {
            word-wrap: break-word;
        }
        
        .content {
            width: auto;
            margin: 0;
        }
}
        
@media print {
        body {
            padding: 0.4in;
            font-size: 12pt;
        }
}